body {
    padding: 0px;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #6F6AF7;
    padding: 27px 45px;
    align-items: center;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    height: 100px;
    z-index: 9;

}

.menu {
    font-size: 29.43px;
    line-height: 47.43px;
    font-weight: 400;
    font-family: DM Sans;
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 0px 12px;
}

.searchBox {
    border: 1px solid #f5f5f5;
    font-size: 13px;
    color: gray;
    background-image: url(./images/search.png);
    background-repeat: no-repeat;


    outline: 0;
    border-radius: 50px;
    line-height: 31.81px;
    color: #9F9F9F;
    font-size: 24.43px;
    padding: 10px 16px;
    width: 314px;
    height: 57px;
    background-position: right 22px bottom 13px;
}

.main {
    width: 100%;
    box-sizing: border-box;
    padding-top: 160px;
}


.container1 {

    height: 370px;
    display: inline-block;
    width: 88%;
    padding-left: 70px;
}

.images {
    width: 30%;
    display: inline-block;


}

.images img {
    width: 100%;
}

.textArea {


    display: inline-block;
    width: 68%;
    height: 100%;
    margin: 18px 0px;
}

.textArea textarea {
    width: 100%;
    height: 92%;
    border: 6px;
    border-radius: 20px;
    background-color: #E5D8FF;
    padding: 25px;
    box-sizing: border-box;
    line-height: 38.82px;
    font-weight: 400;
    font-size: 16px;
    color: #6F7373;
}

.container2 {

    padding: 90px 70px;
    line-height: 20px;
    color: #FFF;
    box-sizing: border-box;
}

.card {

    height: 107px;
    width: 20%;
    text-align: justify;
    padding-left: 24px;
    display: inline-block;
    margin: 0px 12px;
    border-radius: 11px;
}

.para1 {

    background-color: #929DFF;
}

.para2 {

    background-color: #734CF2;

}

.para3 {

    background-color: #D288FF;

}

.para4 {

    background-color: #000000;

}

.container3 {

    padding: 0px 70px;
}

.blueBox {

    border-radius: 21px;
    display: inline-flex;
    background-color: #483EFF;
    width: 100%;
    box-sizing: border-box;
}

.button {

    margin: 36px;
    width: 272px;
    height: 96px;
    border-radius: 22px;
    font-weight: 700;
    font-size: 26px;

}

.button.infoButton {

    background-color: #bce0f6;
    border: 5px solid #bce0f6;
}

.button.bookMarkButton {

    color: #fff;
    background-color: #483eff;
    border: 5px solid #fff;
}

.button.settingButton {

    color: #fff;
    background-color: #483eff;
    border: 5px solid #fff;
}



.info {
    border: 1px solid #fff;
    border-radius: 19px;
    width: 100%;
    background-color: #fff;
    margin: 26px;
    position: relative;
}

.info1 {
    line-height: 43.81px;
    padding-left: 80px;
}

.info1 .title {
    font-weight: 600;
    font-size: 22px;
    color: #04285A;
}

.info1 .value {
    font-weight: 400;
    font-size: 20px;
    color: #143565;
}

h2 {
    padding-left: 55px;
    font-weight: 700;
    font-size: 26px;
    color: #04285A;
}

.logo img {
    width: 150px;
}

.menuIcon {
    width: 58px;
}


.helpIcon {

    background-color: #fff;
    position: fixed;
    width: 75px;
    right: 111px;
    z-index: 9;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
}

.helpIcon .help {
    width: 60px;
}



.stickyIcon {
    position: sticky;
    left: 100%;
    width: 65px;
    z-index: 9;
    display: inline-block;
    top: 30%;
    transform: translateY(-40%);
}

.stickyIcon img {
    width: 60px;
}

.nextButton {
    text-align: center;
    position: relative;
    position: absolute;
    bottom: 27px;
    right: 0px;
}

.nextButton button {
    font-size: 20px;
    margin-right: 38px;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    padding: 13px 27px;
    border-radius: 9px;
    border: 0px;

}

.nextButton img {
    width: 20px;
}